---
const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<meta name="robots" content="noarchive nosnippet" />
    	<meta name="author" content="qronexstudio" />
    	<meta name="title" content="Qronex AI" />
    	<meta name="description" content="Qronex AI" />
    	<meta name="keywords" content="Qronex studio AI,qronex studio AI,qronexstudio,qronex studio,qronexstudio AI,Qronex Studio AI,Qronex AI,qronex devs,qronex_devs,qronex devs roblox,qronex_devs roblox,slakoth devs,slakoth_devs,slakoth devs roblox,slakoth_devs roblox" />
    	<meta property="og:type" content="website" />
    	<meta property="og:url" content="https://qronexstudiosai.work.gd/" />
    	<meta property="og:title" content="Qronex AI" />
    	<meta property="og:description" content="Qronex AI" />
    	<meta property="og:image" content="https://qronexstudiosai.work.gd/assets/icon.png" />
    	<meta property="twitter:card" content="summary_large_image" />
    	<meta property="twitter:url" content="https://qronexstudiosai.work.gd/" />
    	<meta property="twitter:title" content="Qronex AI" />
    	<meta property="twitter:description" content="Qronex AI" />
    	<meta property="twitter:image" content="https://qronexstudiosai.work.gd/assets/icon.png" />
    	<meta name="mobile-web-app-capable" content="yes" />
    	<meta name="apple-mobile-web-app-title" content="Qronex AI" />
		<link rel="icon" type="image/ico" href="/image/icon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
		@font-face {
		font-family: 'fredoka';
		src: url('/fonts/Fredoka-Light.woff2') format('woff2');
		font-weight: 200;
	}

	@font-face {
		font-family: 'fredoka';
		src: url('/fonts/Fredoka-Regular.woff2') format('woff2');
		font-weight: 400;
	}

	@font-face {
		font-family: 'fredoka';
		src: url('/fonts/Fredoka-Medium.woff2') format('woff2');
		font-weight: 600;
	}

	@font-face {
		font-family: 'fredoka';
		src: url('/fonts/Fredoka-SemiBold.woff2') format('woff2');
		font-weight: 800;
	}

	@font-face {
		font-family: 'fredoka';
		src: url('/fonts/Fredoka-Bold.woff2') format('woff2');
		font-weight: 900;
	}
</style>
